
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin.cshtml";
}
@model Brand
<div class="col-12 col-md-12 col-lg-12">
    <div class="col-12 d-flex justify-content-center  alertPosition">
        @if (!string.IsNullOrEmpty(ViewBag.message))
        {
            <div class="bg-white   d-flex p-2  shadow rounded" style="height:40px;">
                <p>@ViewBag.message        <i class="fas fa-check-circle"></i></p>

            </div>
            <script>
                setTimeout(() => window.location.replace("Index"), 2000);
            </script>
        }
        else
        {
            <div class="alert alert-light col-3 d-none" id="categoryAlert" role="alert"></div>
        }
    </div>

<div class="card">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div class="ml-4 mt-3">
                <h6>Add Brand</h6>
            </div>
        <div class="card-body">
            <div class="form-group">
                <input type="text" class="form-control " asp-for="BrandName"  required="">
                    <span class="text-danger">@ViewBag.exist</span>

            </div>


            <button type="submit" class="btn btn-primary">Add</button>
        </div>

    </form>
    
</div>
</div>

