
@model Category 
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<div class="col-12 col-md-12 col-lg-12">
    <div class="alert alert-light col-3 d-none" id="categoryAlert" role="alert">
        A simple primary alert—check it out!
    </div>

    <div class="card">
        <form method="post" asp-action="Create">
            <div class="card-header">
                <h4>Add Category</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input type="text" class="form-control " asp-for="CategoryName" value="" required="">
                </div>

              
                <button type="submit" class="btn btn-primary">Add</button>
            </div>

        </form>
        <div class="bg-red">@ViewBag.message </div>
    </div>
</div>
@if (ViewBag.message == "Category is added")
{
    <script>
        var message = '@ViewBag.message';
        if (message !== "") {
        // Display the alert
        document.getElementById("categoryAlert").style.display = "block";
        }
        });
    </script>
}
@* 
@if (ViewBag.message == "Category is added") 
{
    <script>

        Swal.fire({
            title: 'Category Added!',
            text: 'This modal will disappear soon!',
            icon: 'success',
            showConfirmButton: false,
            timer: 3000
        });
</script>
    }
 *@