
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin.cshtml";
}
@model Category

<div class="col-12 col-md-12 col-lg-12">

    <div class="col-12 d-flex justify-content-center " style="position: relative; top:-60px">
        @if (!string.IsNullOrEmpty(ViewBag.message))
        {
            <div class="bg-white text-dark  d-flex p-2  shadow rounded" style="height:40px">
                <p>@ViewBag.message        <i class="fas fa-check-circle"></i></p>

            </div>
            <script>
                setTimeout(() => window.location.replace("/Category/Index"), 2000);
            </script>

        }
        else
        {
            <div class="alert alert-light col-3 d-none" id="categoryAlert" role="alert"></div>
        }
    </div>
    <div class="card">
            <div class="ml-4 mt-3">
                <h6>Edit Category</h6>
            </div>
        <form method="post"  asp-action="Edit">
            <div class="card-body">
                <div class="form-group">
                    <input type="hidden" asp-for="CategoryId"/>
                    <input type="text" class="form-control " asp-for="CategoryName"  required="">
                    <span class="text-danger">@ViewBag.exist</span>
                </div>


                <button class="btn btn-primary" type="submit">Update</button>
            </div>

        </form>
    </div>
</div>

